--extra-index-url https://download.pytorch.org/whl/cpu
streamlit==1.49.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
python-dotenv==1.0.1
sentence-transformers==3.0.1
torch==2.4.1
elasticsearch==8.14.0
